pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
matplotlib==3.9.2
dash==2.14.2
dash_html_components==2.0.0
dash_core_components==2.0.0
dash_table==5.0.0
plotly==5.24.1
requests==2.32.3
ipython==8.12.3
jupyter==1.0.0
flask==3.0.3
joblib==1.4.2
scapy==2.6.1
flask_cors==5.0.0
